
     .body{
                background: linear-gradient(341deg, black, #2034a5);
    color: white;    
    
    }
    
    .titulo{
        font-size: 20px;
        font-weight: bold;
        font-family: arial;
    }
    
    
    
   
    .filtro{
        margin-top: 3%;
        display: flex;
        justify-content: center;
    }
    
    .centralizar{
       text-align: center;
    }
    
    .campos{
          font-size: 20px;
    font-weight: bold;
    line-height: 0.4;
    }
    
    .campos_data{
        font-size: 20px;
        font-weight: bold;
        font-family: arial;
    }
    
    
    .conteudo_info{
       text-align: center;
    display: flex;
    justify-content: center; 
    }
    
    .quadro_info{
             height: 491px;
    border-radius: 20px;
    margin-top: 3%;
    width: 400px;
    background: linear-gradient(180deg, black, #352f2f);
}
 .tudo{
   
       width: 100%;
        height: 100vh;
    }
    
    .col1{
        width: 90%;
        height: 100vh;
    }
    
    .conteudo_tabela{
        justify-content: center;
    display: flex;
    }
    
    .grid_container{
       overflow-y: auto !important;
    height: 581px !important;
    width: 89%;
    margin: 0 auto;
    }
    
    .col2{
       width: 10%;
        height: 100vh;
    }
    .fundo_preto {
    background-color: #000000 !important;
}
    
    .btn_imprimir{
       color: white;
    border-radius: 20px;
    width: 100px;
    background: linear-gradient(360deg, #8b8686, #1a1a1a);  
    }
    .btn_imprimir:hover{
       color: white;
    border-radius: 20px;
    width: 100px;
    background: linear-gradient(360deg, #595757, #000000); 
    }
     .btn_buscar{
       color: white;
    border-radius: 20px;
    width: 100px;
    background: linear-gradient(360deg, #8b8686, #1a1a1a); 
    }
    .btn_buscar:hover{
       color: white;
    border-radius: 20px;
    width: 100px;
    background: linear-gradient(360deg, #595757, #000000);
    }
     .radius_campos{
        border-radius: 15px;
    }
     .azul{
             font-size: 20px;
        color: #77bcef;
         font-weight: bold;
    }
    .amarelo{
            font-size: 20px;
        color: #e3e747;
        font-weight: bold;
    }
    
    .laranja{
            font-size: 20px;
       color: orange;
        font-weight: bold;
    }
    
    .vermelho{
            font-size: 20px;
       color: red;
        font-weight: bold;
    }
    
    .verde{
            font-size: 20px;
       color: limegreen;
        font-weight: bold;
        
    }
    
    .tabela{
        width: 100%;
    }
    
   .thdt_instalacao {
    width: 19%;
}
    
    .thstatus{
       width: 9%;
    }
    
    .thloja{
      width: 8%;
    }
    
    .thcidade{
         width: 14%;
    }
    .thtipo{
        width: 4%;
    }
    .thchamado{
        width: 6%; 
    }
    
    .thuf{
          width: 5%;
    }
    
    .thdt_solictacao{
        width: 3%; 
    }
    
   
    
    .thproduto{
            width: 11%;
    }
    
    .thprojeto{
       width: 14%;
    }
    
    .threde{
          width: 8%;
    }
    
    .th_dt_solictacao{
        width: 9%;
    }
    
    
    .th_dt_inauguracao{
         width: 2%;
    }
    
    .th_dt_instalacao{
       width:  0%;
    }
    
 /* <!--  /impressao/-->*/
    .thdt_instalacao_imp {
    width: 19%;
        font-family: arial;
}
    
    .thstatus_imp{
        width: 14%;
        font-family: arial;
    }
    
    .thloja_imp{
       width: 15%;
        font-family: arial;
    }
    
    .thproduto_imp{
           width: 15%;
        font-family: arial;
    }
    
    .thprojeto_imp{
      width: 24%; 
        font-family: arial;
    }
    
    .threde_imp{
        width: 15%; 
        font-family: arial;
    }
    
    
    .impressao{
        display: none;
    }
    
    
    
    .campos{
        font-weight: bold;
    }
    
    .campos_imp{
       font-size: 10px; 
    }
    